<div id="navbar">
	
	<span id="nav-logo">Riverpen</span>

	<ul id="nav-menu">
		<li class="nav-link"><%= link_to "Streamline", streams_path %></li>
		<li class="nav-link"><%= link_to "+Post", '#' %></li>
		<li class="nav-link"><%= link_to "+Stream", new_stream_path %></li>
		<li class="nav-link"><%= link_to "Profile", profiles_path %></li>
		<li class="nav-link">My Account</li>
	</ul>

</div>