<head>
	<style type="text/css">
		  .cover {
		    background: url(<%= random_background %>) no-repeat center center fixed; 
		      -webkit-background-size: cover;
				  -moz-background-size: cover;
				  -o-background-size: cover;
				  background-size: cover;
		  }
		</style>
</head>
<body> 
	<div class="cover">
		<div class="jumbotron">
			<div class="row">
			</div>
		</div>
	</div>
</body>