<head>
	<style type="text/css">
		  .cover {
		    background: url(<%= random_background %>) no-repeat center center fixed; 
		      -webkit-background-size: cover;
				  -moz-background-size: cover;
				  -o-background-size: cover;
				  background-size: cover;
		  }
		</style>
</head>
<body class="cover"> 

		<div class="jumbotron">
			<div class="container">
				
			</div>
		</div>

		<div class="main-banner">
			<h1 class="welcome">Welcome to</h1>
			<span class="banner-name">Riverpen.</span> 
			<br><br>
			<h1 class="welcome">A place to let your words flow.</h1>
			<br><br>
			<h2 class="welcome-tag">Write to your heart's content using a beautiful interface. Organize your writing into thematical blogs. Follow the blogs of other Riverpenners, and be inspired.</h2>
			<br><br>
			<div class="beta-signup">
				<p class="beta-label">Sign up for the beta: </p>
				<input type="text" class="field" placeholder="<%= email_placeholder %>">
				<button class="beta-submit">Ink it in</button>
			</div>
			<br><br>
			
		</div>

</body>