<br>
<div class="sl-tabs"> 
	<div class="left-tab">
		<h1 class="tab-text">Me</h1>
	</div>
	<div class="middle-tab">
		<h1 class="tab-text">Following</h1>
	</div>
	<div class="right-tab">
		<h1 class="tab-text">Followers</h1>
	</div>
</div>

</div>