<br>
<div class="sl-tabs"> 
	<div role="tabpanel">

	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs row" id="" role="tablist">
	    <li role="presentation" class="left-tab col-md-4"><a href="#me" aria-controls="me" role="tab" data-toggle="tab">Me</a></li>
	    <li role="presentation" class="middle-tab col-md-4"><a href="#following" aria-controls="following" role="tab" data-toggle="tab">Following</a></li>
	    <li role="presentation" class="right-tab col-md-4"><a href="#followers" aria-controls="followers" role="tab" data-toggle="tab">Followers</a></li>
	  </ul>

	</div>
	 <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="me">
	    	<%= render :partial => 'streamline/mine' %>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="following">
	    	<%= render :partial => 'streamline/following' %>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="followers">
	    	<%= render :partial => 'streamline/followers' %>
	    </div>
	  </div>
</div>

