<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css">
</head>
<body>
	<br>

	<div id="tabs">
	  <ul>
	    <li><a href="#tabs-1">Me</a></li>
	    <li><a href="#tabs-2">Following</a></li>
	    <li><a href="#tabs-3">Followers</a></li>
	  </ul>
	  <div id="tabs-1">
	   <%= render :partial => 'streamline/mine' %>
	  </div>
	  <div id="tabs-2">
	    <%= render :partial => 'streamline/following' %>
	  </div>
	  <div id="tabs-3">
	    <%= render :partial => 'streamline/followers' %>
	  </div>
	</div>
</body>