//  ** TYPOGRAPHY  **  //

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Archivo+Black);
@import url(http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps);

//  ** COLOR CODES **  //

$teal: #52B4AF; 
$darkTeal: #063E53;
$blue: #0F9FB4;
$darkBlue: #293E6A;
$dustyPurple: #9C6A8D;
$hotPurple: #8B1C55;
$darkPurple: #3F2860;
$red: #AB3334;
$wine: #57102C;
$lime: #BCC747;
$goldenrod: #e19f19;
$grey: #787878;


html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: 25px;
	border: 2px $teal solid;
	background-color: white;
	color: $darkTeal;
	padding: 8px 15px;

}
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-radius: 25px;
	border: 2px $darkTeal solid;
	background-color: $darkTeal;
	color: white;
	padding: 8px 15px;
}

.buttonholder {
	text-align: center;
}

.beta-submit {
	border: solid 1px #787878;
	border-radius: 5px;
	background-color: $goldenrod;
	height: 40px;
	width: 16.5%;
	font-family: 'Fjalla One', sans-serif;
	font-size: medium;
	color: white;
	margin-top: 7px;
	margin-bottom: 4px;
	padding-top: 3px;
	padding-left: 9px;
}

.follow-blog {
	display: block;
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.25em;
	background-color: $lime;
	border-radius: 10px;
	padding: 10px 15px;
}

.comment-submit {

}