// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//  ** COLOR CODES **  //

$teal: #52B4AF; 
$darkTeal: #063E53;
$blue: #0F9FB4;
$darkBlue: #293E6A;
$dustyPurple: #9C6A8D;
$hotPurple: #8B1C55;
$darkPurple: #3F2860;
$red: #AB3334;
$wine: #57102C;
$lime: #BCC747;
$goldenrod: #e19f19;
$grey: #787878;

// INDEX //

.jumbotron {
	position: absolute;
	top: 6%;
	right: 0;
	background-color: white;
	border-radius: 8px;
	margin: 6% -10% 0 0;
	width: 58%;
	height: 450px;
	opacity: 0.65;
}
.main-banner {
	position: absolute;
	top: 160px;
	right: 1.9%;
	width: 44%;
	height: 300px;
}
.beta-signup {
	display: inline-flex;
	border: solid 1px $grey;
	border-radius: 4px;
	width: 90%;
	margin-left: 5%;
	padding: 10px 25px 12px 25px;
}
.field {
	border-radius: 7px;
	padding: 3px 10px;
	width: 30%;
	min-width: 250px;
	height: 30px;
	margin: 12px 20px 0 20px;
}