//  ** TYPOGRAPHY  **  //

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);


//  ** COLOR CODES **  //

$teal: #52B4AF; 
$darkteal: #063E53;
$blue: #0F9FB4;
$darkblue: #293E6A;
$dustypurple: #9C6A8D;
$hotpurple: #8B1C55;
$darkpurple: #3F2860;
$red: #AB3334;
$wine: #57102C;
$lime: #BCC747;


#navbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	padding-top: 8px;
	background-color: $teal;
}

.navbar-content {
	vertical-align: -webkit-baseline-middle;
	margin-top: 2px;
}

#nav-logo {
	margin-left: 25px;
	margin-right: 100px;
	color: white;
	font-family: 'Fjalla One', sans-serif;
	font-size: 2.25em; 
	vertical-align: -webkit-baseline-middle;
}

#nav-menu {
	list-style: none;
	float: right;
	width: 60%;
	padding-top: 3px;
	margin-right: -18%;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
}

li.nav-link {
	display: inline;
	margin-right: 15px;
	color: white;
	font-family: 'News Cycle', sans-serif !important;
	font-size: 1.05em;
	font-weight: 400;	
	a {
		color: white;
		text-decoration: none;
		padding: 0 10px;
		font-size: 1.2em;
	}
	a:hover {
		color: $wine;
		background-color: inherit;
	}
}

.menu-patch {
	left: -20px;
	min-width: 90px;
	margin: 15px 0 0;
}

.dropdown {
	display: inline;
}

.dropdown-menu>li {
	padding-top: 3px;
	padding-bottom: 4px;
	margin-bottom: 2px;
}

.dropdown-menu>li:hover {
	background-color: #E8E8E8;
}

.dropdown-menu>li>a {
	color: $wine;
	padding: 3px 25px;
	margin-left: 4px;
	text-align: center;
	a:hover {
		background-color: inherit;
	}
}

.dropdown-menu>li>div>a {
	color: $wine;	
	text-align: center;
	font-size:1em;
}


.dropdown-link>div>.glyphicon {
	color: $wine;
	margin-left: 14px;
	margin-top: 0px;
	margin-right: -4px;
	font-size: 0.85em;
}
