//  ** TYPOGRAPHY  **  //

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Archivo+Black);


//  ** COLOR CODES **  //

$teal: #52B4AF; 
$darkteal: #063E53;
$blue: #0F9FB4;
$darkblue: #293E6A;
$dustypurple: #9C6A8D;
$hotpurple: #8B1C55;
$darkpurple: #3F2860;
$red: #AB3334;
$wine: #57102C;
$lime: #BCC747;


#navbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	padding-top: 2px;
	background-color: $teal;
}

.navbar-content {
	vertical-align: -webkit-baseline-middle;
	margin-top: 2px;
}

.menu-patch {
	left: -30px;
	min-width: 105px;
	margin: 15px 0 0;
}

.dropdown {
	display: inline;
}

.dropdown-menu>li {
	padding-top: 3px;
	padding-bottom: 4px;
	margin-bottom: 2px;
}

.dropdown-menu>li:hover {
	background-color: #E8E8E8;
}

.dropdown-menu>li>a {
	color: $wine;
	padding: 3px 25px;
	margin-left: 4px;
	text-align: center;
	a:hover {
		background-color: inherit;
	}
}

.dropdown-menu>li>div>a {
	color: $wine;	
	text-align: center;
	font-size:1em;
}


.dropdown-link>div>.glyphicon {
	color: $wine;
	margin-left: 14px;
	margin-top: 0px;
	margin-right: -4px;
	font-size: 0.85em;
}
