// Place all the styles related to the Streams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-reply {
	display: none;
}

.post-comments {
	display: none;
}

.post-footer {
	display: inline-block;
}

.post-footer ul li {
	display: inline;
	line-decoration: none;
	padding: 0px 8px;
}

.view-post-reply, .view-post-comments {
	display: inline;
	padding-left:25px;
}