// Place all the styles related to the Streamline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//  ** TYPOGRAPHY  **  //

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Archivo+Black);


//  ** COLOR CODES **  //

$teal: #52B4AF; 
$darkTeal: #063E53;
$blue: #0F9FB4;
$darkBlue: #293E6A;
$dustyPurple: #9C6A8D;
$hotPurple: #8B1C55;
$darkPurple: #3F2860;
$red: #AB3334;
$wine: #57102C;
$lime: #BCC747;
$goldenrod: #e19f19;
$grey: #787878;

// ** STRUCTURE ** //

.sl-tabs {
	display: inline-flex;
	width: 204%;
	margin-bottom: 50px;
}
.left-tab, .middle-tab, .right-tab {
	margin:0 2% 0 4%;
	padding-top: 10px;
	height: 45px;
	border: solid 1px #d8d8d8;
	border-bottom: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
}
#nav-tabs {
	display: inline-flex;
	width:326%;
	list-style: none;
	li {
		list-style: none;
	}	
}
#me, #following, #followers {
	font-family: "Archivo Black", sans-serif;
	font-size: 1.5em;
}
#me:hover, #following:hover, #followers:hover {
	background-color: #fff;
	color: $hotPurple;
	text-decoration: none;
}