//  ** TYPOGRAPHY  **  //

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Archivo+Black);


//  ** COLOR CODES **  //

$teal: #52B4AF; 
$darkteal: #063E53;
$blue: #0F9FB4;
$darkblue: #293E6A;
$dustypurple: #9C6A8D;
$hotpurple: #8B1C55;
$darkpurple: #3F2860;
$red: #AB3334;
$wine: #57102C;
$lime: #BCC747;


//  ** GENERAL HEADLINES ** //

h1, h2, h3, h4, h5, h6 {
	font-family: 'Archivo Black', sans-serif;
}

h2, h3, h4 {
	margin: 1.25em;
}


// ** STREAM DISPLAYS ** //

#stream-user-title {
	font-family: 'Archivo Black', sans-serif;
	text-align: left;
	font-size: 4em;
	margin-bottom: 1em;
}

sup {
	font-family: 'Archivo Black', sans-serif;
	text-align: center;
	font-size: 0.5em;
}


// ** POST DISPLAYS ** //

.post-headline {
	margin: 1.25em 0 1em -1em;
	font-size: 3.5em;
}

p {
	font-family: 'Crimson Text';
	font-weight: 400;
	font-size: 1.6em;
	line-height: 1.4em;
	letter-spacing: -0.6px;
	text-align: justify;
}