//  ** TYPOGRAPHY  **  //

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Archivo+Black);
@import url(http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps);
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);

//  ** COLOR CODES **  //

$teal: #52B4AF; 
$darkTeal: #063E53;
$blue: #0F9FB4;
$darkBlue: #293E6A;
$dustyPurple: #9C6A8D;
$hotPurple: #8B1C55;
$darkPurple: #3F2860;
$red: #AB3334;
$wine: #57102C;
$lime: #BCC747;
$goldenrod: #e19f19;
$grey: #787878;


//  ** GENERAL HEADLINES ** //

h1, h2, h3, h4, h5, h6 {
	font-family: 'Archivo Black', sans-serif;
}

h2, h3, h4 {
	margin: 1.25em;
}


// ** NAV BAR ** //

#nav-logo {
	margin: 3px 100px 0 25px;
	color: white;
	font-family: 'Bilbo Swash Caps', script;
	font-size: 1.8em; 
	vertical-align: inherit;
	text-decoration: none;
	&:hover { 
		text-decoration: none; 
		color: $goldenrod;
		background-color: inherit;
		text-shadow: 1px 4px 10px #000;
	}
}

#nav-menu {
	list-style: none;
	float: right;
	width: 60%;
	padding-top: 10px;
	margin-right: -18%;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
}

li.nav-link {
	display: inline;
	margin-right: 15px;
	color: white;
	font-family: 'News Cycle', sans-serif !important;
	font-size: 1.05em;
	font-weight: 400;	
	a {
		color: white;
		text-decoration: none;
		padding: 0 10px;
		font-size: 1.2em;
	}
	a:hover {
		color: $wine;
		background-color: inherit;
	}
}

//  ** HOME PAGE  **  //
h1.welcome {
	font-family: 'Crimson Text', serif;
	font-size: 2em;	
	color: #005959;
	margin-top: 10px;
	text-align: center;
}
h2.welcome-tag {
	font-family: 'News Cycle', serif;
	line-height: 25px;
	text-align: justify;
	width: 90%;
	color: #327a7a;
	padding-left: 9%;

}
.banner-name {
	font-family: 'Bilbo Swash Caps', script;
	text-shadow: 1px 4px 10px #787878;
	font-size: 10em;
	color: $hotPurple;
	float: right;
	margin: 8% 18% 10% 25%;
}
p.jumbo-description, p.beta-label {
	font-family: 'Fjalla One', sans-serif;
	color: #005959;
}
p.beta-label {
	font-size: 1.45em;
	color: $hotPurple;
	width: 27%;
	padding-top: 2.48%;
}

// ** STREAM DISPLAYS ** //

#stream-user-title {
	font-family: 'Archivo Black', sans-serif;
	text-align: left;
	font-size: 4em;
	margin-bottom: 1em;
}

#stream-profile-link {
	color: black;
	&:hover {
		background-color: white;
		text-decoration: none;
		color: $darkPurple;
	}
}

sup {
	font-family: 'Archivo Black', sans-serif;
	text-align: center;
	font-size: 0.5em;
}

// ** POST DISPLAYS ** //

.post-headline {
	margin: 1.25em 0 1em -1em;
	font-size: 2.5em;
}

p {
	font-family: 'Crimson Text';
	font-weight: 400;
	font-size: 1.6em;
	line-height: 1.4em;
	letter-spacing: -0.6px;
	text-align: justify;
}